/node_modules
/public/hot
/public/storage
/storage/*.key
.idea
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
fontawesome-webfont.woff2
fontawesome-webfont.woff
fontawesome-webfont.ttf
fontawesome-webfont.eot
app.js
app.css
admin.css.map
admin.css
workspace.xml
mix-manifest.json
